<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace用于指定当前的映射文件和哪个接口进行映射,需要指定接口的文件路径,路径需要是包的完整路径结构-->
<mapper namespace="com.yhy.huaman.mapper.A_Student_kechengclassMapper">

    <resultMap id="A_Student_kechengclassEntityMap" type="com.yhy.huaman.entity.A_Student_kechengclass">
        <id column="student_kechengclass_id" property="student_kechengclass_id"></id>
    </resultMap>
    <!--id属性:表示映射的接口中方法的名称,直接标签的内容部来编写SQL语句-->
    <!--useGeneratedKeys="true"表示开启某个字段的值递增(大部分都是主键递增)
        keyProperty="uid"表示将表中哪个字段进行递增
        -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="student_kechengclass_id">
        insert into student_kechengclasstable(
            student_id,kechengclass_id,student_kechengclass_fenshu,
                              is_delete,created_user,created_time,modified_user,modified_time

        ) values (
                     #{student_id},#{kechengclass_id},#{student_kechengclass_fenshu},
                  #{is_delete},#{created_user},#{created_time},#{modified_user},#{modified_time}
                 )
    </insert>

    <select id="find" resultMap="A_Student_kechengclassEntityMap">
        select * from student_kechengclasstable where kecheng_id=#{kecheng_id}
    </select>

    <select id="findbyStudent_id" resultMap="A_Student_kechengclassEntityMap">
        select * from student_kechengclasstable where student_id=#{student_id}
    </select>

    <select id="findbyKechengclass_id" resultMap="A_Student_kechengclassEntityMap">
        select * from student_kechengclasstable where kechengclass_id=#{kechengclass_id}
    </select>

</mapper>
